{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "parser": "babel-eslint",
  "rules": {
      "semi": "error",
      "no-unused-vars": "warn",
      "no-param-reassign": "off",
      "import/no-unresolved": "off",
      "import/prefer-default-export": "warn",
      "react/prefer-stateless-function": "off"
    }
}
