@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

@mixin reset-button {
  border: none;
  background-color: none;
  outline: none;
  cursor: pointer;
}
